<%= link_to "Home", root_path, :class => 'brand' %><br>
<ul class="nav">
  <% if user_signed_in? %>
  <li>
  	<% if !current_user.profile.nil? %>
  	 <%= image_tag current_user.try(:profile).try(:avatar).url(:thumb), :style => 'height:30px;width:30px' %>
  	 <% end %>
  	hello <%= current_user.username %>
    <li>
    <li>	
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <li>
    	<%= link_to 'Edit Profile', edit_profile_path(current_user) %>
    	</li>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>

